$markdown-margin: 30px;

::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;

    #root {
        .title {
            text-align: center;

            h1 {
                margin: 0;
            }

            a {
                text-decoration: none;
                color: black;
                margin: 0;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .markdown-container {
            padding: 0 $markdown-margin $markdown-margin $markdown-margin;
            gap: calc($markdown-margin / 2);

            .col {
                height: min-content;

                h4.title {
                    text-align: center;
                    padding: 10px;
                    margin: 0;
                }

                .markdown {
                    border-radius: 24px;
                    padding: 16px;
                }

                #editor {
                    width: 100%;
                    min-height: 60vh;
                    resize: none;
                    background-color: #3b3b3b;
                    color: #fff;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 15px;
                }

                #preview {
                    background-color: #e4e4e4;
                    
                    code {
                        color: black;
                    }
                }
            }
        }
    }
}