$markdown-margin: 30px;

#root {
    .title {
        text-align: center;

        h1 {
            margin: 0;
        }

        p {
            margin: 0;

            a {
                text-decoration: none;
            }
        }
    }

    .markdown-container {
        padding: $markdown-margin;
        gap: calc($markdown-margin / 2);

        .col {
            border: solid 1px black;

            h4{
                padding: 10px;
            }

            #editor,
            input {
                width: 100%;
            }
        }
    }
}